menu "RTP touch panel options"

config AIC_USING_RTP
    bool "Using touch panel RTP"
    default n
    select AIC_RTP_DRV

config AIC_RTP_PERIOD_MS
    int "The sample period of RTP(in cycle mode)"
    default 15
    depends on AIC_USING_RTP

config AIC_RTP_MAX_PRESSURE
    int "The pressure threshold of RTP"
    default 800
    depends on AIC_USING_RTP

config AIC_RTP_X_PLATE
    int "The x-plate value of RTP touchscreen"
    range 0 1024
    default 235
    depends on AIC_USING_RTP

config AIC_RTP_Y_PLATE
    int "The Y-plate value of RTP touchscreen"
    range 0 1024
    default 0
    depends on AIC_USING_RTP

config AIC_RTP_PDEB
    hex "The press detect enable debounce"
    range 0 0xffffffff
    default 0xffffffff
    depends on AIC_USING_RTP

config AIC_RTP_DELAY
    hex "The precharge delay of RTP"
    range 0 0xffffffff
    default 0x4f00004f
    depends on AIC_USING_RTP

endmenu
