mainmenu "ArtInChip Luban-Lite SDK Configuration"

menu "Project options"

config PRJ_DEFCONFIG_FILENAME
    string "Project defconfig file name"

comment "-- Important: If following options have been changed, you need save & rerun menuconfig before changing any other options."

config PRJ_CHIP
    string "Chip name"
    #option env="PRJ_CHIP"
    default "d21x"

config PRJ_BOARD
    string "Board name"
    #option env="PRJ_BOARD"
    default "fpga"

config PRJ_KERNEL
    string "Kernel name"
    #option env="PRJ_KERNEL"
    default "rt-thread"

config PRJ_APP
    string "Application name"
    #option env="PRJ_APP"
    default "helloworld"

endmenu

config PLATFORM_LUBANLITE
    bool
    default y

config PKGS_DIR
    string
    option env="PKGS_ROOT"
    default "packages"

if ! AIC_BOOTLOADER
source "application/Kconfig"
endif
#source "kernel/$PRJ_KERNEL/Kconfig"
#source "$PKGS_DIR/Kconfig"
source ".Kconfig.prj"
source "packages/Kconfig"
source "bsp/Kconfig"
