#-----------------------------
# eFuse/SID devices local parameter
#-----------------------------
menu "SID Parameter"
    depends on AIC_USING_SID

    config EFUSE_MAX_WORD
	int "set efuse max word"
	default 64

    config EFUSE_TIMING_VALUE
	hex "set timing value"
	default 0x0402FFD8 if AIC_CHIP_D21X
	default 0x0402FFD8 if AIC_CHIP_D13X
	default 0x04021FF1 if AIC_CHIP_D12X
endmenu

