#-----------------------------
# eFuse/SID devices local parameter
#-----------------------------
menu "SID Parameter"
    depends on AIC_USING_SID

    config EFUSE_MAX_WORD
	int "set efuse max word"
	default 64
endmenu

