
source "bsp/peripheral/spinand/Kconfig"
source "bsp/peripheral/spinor_sfud/Kconfig"
source "bsp/peripheral/nftl/Kconfig"

#--------------------------------------------
# touch panel driver global option
#--------------------------------------------

menu "Touch Panel Support"
source "bsp/peripheral/touch/gt911/Kconfig"
source "bsp/peripheral/touch/ft7411/Kconfig"
source "bsp/peripheral/touch/gsl1680/Kconfig"
source "bsp/peripheral/touch/rtp/Kconfig"
endmenu

#--------------------------------------------
# Audio Codec driver option
#--------------------------------------------

menu "External Audio Codec Support"
source "bsp/peripheral/codec/Kconfig"
endmenu
