#-----------------------------
# rtl8733 wlan devices local parameter
#-----------------------------

# wlan0 parameter

menu "Wlan0 Parameter"
    depends on AIC_USING_RTL8733_WLAN0

    config AIC_DEV_RTL8733_WLAN0_PWR_GPIO
        string "rtl8733 wlan0 power on gpio"

    choice
        prompt "Select rtl8733 wlan0 host interface"
        default AIC_DEV_RTL8733_WLAN0_INTF_SDIO
        config AIC_DEV_RTL8733_WLAN0_INTF_SDIO
            bool "sdio"
            select RTL8733_WLAN_INTF_SDIO
        config AIC_DEV_RTL8733_WLAN0_INTF_USB
            bool "usb"
            select RTL8733_WLAN_INTF_USB
    endchoice

    config AIC_DEV_RTL8733_WLAN0_IPADDR
        string "wlan0 ip addr"
        default "192.168.1.200"

    config AIC_DEV_RTL8733_WLAN0_GW
        string "wlan0 gateway addr"
        default "192.168.1.1"

    config AIC_DEV_RTL8733_WLAN0_NETMASK
        string "wlan0 netmask"
        default "255.255.255.0"

endmenu
