config AIC_I2S_CODEC_SELECT
    bool "Select external audio codec"
    default n

if AIC_I2S_CODEC_SELECT
    choice
        prompt "Select external codec"
        default AIC_I2S_CODEC_ES8388

        config AIC_I2S_CODEC_ES8388
            bool "es8388"
    endchoice
endif

if AIC_I2S_CODEC_ES8388
source "bsp/peripheral/codec/es8388/Kconfig"
endif
